button {
  border: 0;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

.title {
  font-size: 80px;
  font-weight: bold;
  margin: 0;
  display: block;
  color: #776e65;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  height: 120px;
}

.git-link {
  text-decoration: none;
  font-size: 21px;
  color: #776e65;
}

.git-link:hover {
  text-shadow: 7px 7px 7px #434343, 7px 7px 1em red;
}

.link-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
}

.logo{
  width: 100px;
  height: 100px;
}

.logo:hover {
  width: 107px;
  height: 107px;
}
